body {
    background: #ffe6ff;
    font-family: "Times New Roman", "Garamond", serif;
}

.index-head {
    color: #004d99;
}

.home-links, a {
    color: #0073e6;
    text-decoration: none;
}

a:visited {
    color: #3399ff;
}