body {
    background: #FFF2FB;
    font-family: "Times New Roman", "Garamond", serif;
}

.card {
    width: 800px;
    background: #FFECF9;
    border-style: double;
    border-color: #FFDAF4;
    margin: 50px auto;
    padding: 8px;
}

.index-head {
    background: #FFF7FD;
    color: #E16EBF;
    text-align: center;
}

.home-links, a {
    color: #0073e6;
    text-decoration: none;
}

a:visited {
    color: #3399ff;
}