body {
    background: #FFF2FB;
    font-family: serif;
}

.card {
    width: 800px;
    background: #FFECF9;
    border-style: double;
    border-color: #FFDAF4;
    margin: 50px auto;
    padding: 8px;
}

.index-head {
    background: #FFF7FD;
    color: #E16EBF;
    text-align: center;
    margin: 0px auto 25px;
    border-style: double;
    border-color: #FFDAF4;
    padding: 8px;
}

.home-links {
    text-align: center;
}

a {
    color: #E153B7;
    text-decoration: none;
}

a:visited {
    color: #ef5597;
}

button {
    background-color: #FFF7FD;
    border-style: solid;
    border-color: #78145a;
    border-width: 1px;
}

button:hover {
    background-color: #fffdff;
}